/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height:4rem;


  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --Title-Active: hsla(241, 37%, 12%, 1) ; /*Used for both links and titles.*/
  --Body:hsla(248, 16%, 35%, 1) ; /*Used for body copy text*/
  --label:hsla(235, 14%, 50%, 1); /*Used for the label text.*/
  --Placeholder: hsla(234, 18%, 69%, 1); /* Used for initial copy of inputs. */
  --Line: hsla(233, 26%, 88%, 1); /* Used for line based elements.*/
  --Input-Background: hsla(233, 30%, 95%, 1) ; /* Used for input bg accessibility.*/
  --Background: hsla(233, 45%, 98%, 1); /* Used for element backgrounds.*/
  --Off-white: hsla(233, 26%, 88%, 1); /* Used to avoid darkmode strain.*/
  --Primary: hsla(256, 82%, 55%, 1); /*Used as the primary color.*/
  --Primary-darkmode: hsla(256, 100%, 82%, 1); /*Used as the primary darkmode color.*/
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
  
  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: "Poppins", sans-serif;
  --second-font: "Inter", sans-serif;
  --h1-font-size: 3.25rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1rem;
  --large-font-size: 3rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: .875rem;
  --tiny-font-size: .75rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--Body);
  background-color: var(--Background);
  line-height: 1.5;
  max-width:100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: fixed;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  color: var(--Title-Active);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p{
  line-height: 1.5rem;
}

button, textarea, input {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--Title-Active);
}

ul {
  list-style: none;
}

hr {
  border: none;
  border-top: 1px solid var(--Line);
  width: 90%;
  margin: 2rem auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/


/* header__top */

.header__top{
  width: 100%;
  height: 4rem;
  background-color: var(--colo-dark-1);
}

.header__top-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__top-left{
  display: flex;
  color: var(--colo-white-1);
}

.header__top-p{
  font-size: var(--smaller-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);


}

.header__top a{
  margin-left: 1rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--colo-white-1);
}

/* Navbar */

.nav-container,
.nav__menu,
.nav__list,
.header__user-actions{
  display: flex;
  align-items: center;
}

nav{
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid var(--colo-dark-2);
  margin-top: 1rem;
}

.nav{
  justify-content: space-between;
  column-gap: 1rem;
}


.nav-logo_icon{
  color: var(--Primary);
  color: hsla(0, 0%, 0%, 1);
  font-family: var(--second-font);
  font-weight: var(--weight-700);
  font-size: var(--h1-font-size);
  width: 150px;
  margin-right: 11.875rem;
  margin-left: 8.438rem;
}

.nav__list{
  display: flex;
  align-items: center;
  margin-right: 9.25rem; 
  margin-left: 11.875rem;
}

.nav__item{
  margin: 0rem 0.5rem;

}

.nav_link {
  
  color: var(--colo-dark-1);
}

.nav__link{
  padding: 0.6rem;
  color: var(--Title-Active);
  font-family: var(--body-font);
  font-weight: var(--weight-400);
  font-size: var(--small-font-size);
  transition: all 0.2s var(--transition);
}

.header__search{
  width: 340px;
  margin-left: 1rem;
  display: flex;
  margin: auto;
  margin-right: 3rem;
}

.header__search .form__input{
  width: 15.188rem;
  position: relative;
}

.form__input{
  border: 1px solid var(--Line);
  background-color: var(--Input-Background);
  height: 45px;
  border-radius: .5rem;
  font-size: var(--tiny-font-size);
  padding: 0 1rem;

}

.search__btn{
  position: absolute;
  cursor: pointer;
  transform: translate(50% , 30%) ;
}

.header__user-actions{
  column-gap: 1.25rem;
}

.header__action-btn{
  position: relative;
  cursor: pointer;
}

.header__action-btn img{
  width: 32px;

}

.header__action-btn .count{
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: var(--colo-primary);
  border-radius: 50%;
  color: var(--colo-white-1);
  font-size: var(--tiny-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-link,
.nav__link:hover{
  color: var(--colo-primary);
} 
/*=============== HOME ===============*/

/*=============== SECTION ===============*/


.main-filter {
display: flex;
width: 100%;
}

.main__container{
border-right: 1px solid var(--colo-dark-2);
width: 20%;
}

.main__filter-list a:hover{
  color: var(--colo-primary);
}


.main__filter-list{
display: flex;
flex-direction: column;
gap: 1rem;
justify-content: space-around;
margin-left: 8.4rem;
margin-top: 2rem;
}

.filter__list-link{
font-size: var(--small-font-size);
font-weight: var(--weight-400);
font-family: var(--body-font);
color: var(--colo-dark-1);
}

.slider > div > .wrapper{
  margin-top: 2rem;
  margin-left: 2rem;
}

.slider.item{
  height: 300px;

}

.object-cover img {
  position: absolute;
  object-fit: cover;
    width: 76rem;
      height: 25rem;
}

.slider .text-content{
  justify-content: center;
  position: absolute;
  justify-content: flex-end;
  z-index: 1;
  padding: 6rem 3rem;
}

.text-content h4{
  font-size: var(--h4-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--Title-Active);
  width: 30%;
  padding: 0.5rem;
  margin-bottom: .7rem;
  background-color: var(--colo-dark-1);
  color: var(--colo-white-1);
  border-radius: .5rem;
}

.text-content h2 span{
  font-size: var(--h1-font-size);
  font-weight: var(--weight-900);
  font-family: var(--body-font);
  color: var(--Title-Active);
  font-style: bold;
}

.text-content button{
  margin-top: 2rem;
}
.text-content .text-btn{
  padding: 1rem 2rem;
  background-color: var(--colo-primary);
  border-radius: 1.5rem;
  color: var(--colo-white-1);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  transition: all 0.2s var(--transition);
}

.text-content button:hover{
  opacity: .8;
}

/*=============== BUTTONS ===============*/

.section-today{
  margin-top: 8rem;
  margin-left: 8.4rem;
  margin-bottom: 2rem;
}

.today__title h4{
  font-size: var(--h4-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--colo-primary);
  margin-bottom: 1rem;
  margin-top: .4rem;
}

.today__title{
    border-left: 1rem solid var(--colo-primary);
    padding-left: .7rem;
    height: 2rem;
    display: flex;
    border-radius:.4rem;
    margin-bottom: 1.2rem;
}


.today__sales{
  display: flex;
  margin-bottom: 1.2rem;
}

.today__sales h2{
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--Title-Active);
  margin-right: 5.4rem;
}

.sales__timer {
  display: flex;
  gap: 1rem;
  margin-right: 45rem;
}

.timer__item {
  text-align: center;
  color: var(--colo-dark-1);
  
}

.timer__item-number {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-700);
  font-family: var(--second-font);
  color: var(--colo-dark-1);
  margin-top: -.7rem;
}

.timer__item-text {
  font-size: var(--tiny-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);
  color: var(--colo-dark-1);
  margin-top: -.2rem;
}

.styled-colon{
  font-size: var(--h2-font-size);
  font-weight: var(--weight-500);
  font-family: var(--body-font);
  color: var(--colo-primary);
  padding: 0 1rem;
}

.prodact__sales-control{
  display: flex;
  margin-bottom: 1.2rem;
}

.prodact__sales-control .btn{
  padding: .5rem .5rem;  
  background-color: var(--Input-Background);
  border-radius: 100%;
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);  
  margin-right: 1rem;
}

.prodact__sales-control .btn:hover{
  opacity: .8;
  background-color: var(--colo-primary);
}

/*=============== CATEGORIES ===============*/

.items__wrapper{
  margin-left: 8.4rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 3rem;

}

.item-image{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-image .item-img{
  object-fit: cover;
  width: 70%;
  margin-left: 1.9rem;
  margin-top: 2rem;
}

.item-img img{
  width: 100%;
  height: 100%;
  margin: auto;
}

.prodact__item{
  position: relative;
  width: 16.8rem;
  height: 15.6rem;
  margin-bottom: 2rem;
  background-color: var(--Input-Background);
  overflow: hidden;
}

.item_discont{
  position: absolute;
  top: .6rem;
  left: .6rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--colo-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colo-white-1);
  font-size: var(--tiny-font-size);
}

.item_top_icons{
  position: absolute;
  top: -.4rem;
  right: -.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  align-items: center;
  color: var(--colo-dark-1);
  font-size: var(--tiny-font-size);
  margin-top: 1rem;
  padding: 0 20px;
}

.item_top_icon{
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--colo-white-1);
  background-size: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.prodact__item .item-title{
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);
  color: var(--colo-dark-1);
  margin-bottom: .5rem;
}

.image-content .item-btn{
  position: relative;
  padding: .5rem 1rem;
  background-color: var(--colo-dark-1);
  cursor: pointer;
  display: none;
}

.item-btn a{
  color: var(--colo-white-1);
  margin-left: 4.3rem;
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  font-family: var(--body-font);
  line-height: 24px;
}

.image-content:hover .item-btn{
  display: flex;
  transition: all 0.2s var(--transition);
}


.prodact-info{
  justify-content: space-between;
}

.prodact-title{
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
  font-family: var(--body-font);
  color: var(--colo-dark-1);
  margin-bottom: .5rem;
}

.prodact-price{
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);
  color: var(--colo-dark-1);
  margin-bottom: .5rem;
}

.prodact-price-old{
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);
  color: var(--colo-dark-2);
  margin-bottom: .5rem;
  text-decoration: line-through;
}

.prodact-price-new{
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--colo-primary);
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.rate{
  display: flex;
  gap: .5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.rate .rate__reviews{
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  font-family: var(--body-font);
  color: var(--colo-dark-2);
}


.view__all-prodacts{
  margin-left: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view__all-prodacts .btn{
  padding: .5rem 1rem;
  background-color: var(--colo-primary);
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
}

.view__all-prodacts .btn a{
  color: var(--colo-white-1);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  font-family: var(--body-font);
  line-height: 24px;
}

/*=============== PRODUCTS ===============*/

.categories__section {
  margin-top: 8rem;
  margin-left: 8.4rem;
  margin-bottom: 2rem;
}

.categories__title h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--colo-primary);
  margin-bottom: 1rem;
  margin-top: .4rem;
}

.categories__title {
  border-left: 1rem solid var(--colo-primary);
  padding-left: .7rem;
  height: 2rem;
  display: flex;
  border-radius: .4rem;
  margin-bottom: 1.2rem;
}


.categories__info {
  display: flex;
  margin-bottom: 1.2rem;
  gap: 60rem;

}

.categories__info h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  color: var(--Title-Active);
  margin-right: 5.4rem;
  margin-top: 1%;
}

.prodact__categorie-control {
  display: flex;
  margin-bottom: 1.2rem;
}

.prodact__categorie-control .btn {
  padding: .5rem .5rem;
  background-color: var(--Input-Background);
  border-radius: 100%;
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  font-family: var(--body-font);
  margin-right: 1rem;
}

.prodact__categorie-control .btn:hover {
  opacity: .8;
  background-color: var(--colo-primary);
}

/*=============== CATEGORIES ===============*/


.categories__items{
  margin-bottom: 5rem;
}
.categorie__item {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}

.categorie{
  display: flex;
  flex-direction: column;
    width: 200px;
    height: 160px;
    padding: 25px 56px 24px 55px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--colo-dark-2);
    padding: 25px 55px;
    border-radius: 1rem;
}


.categorie-name{
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  font-family: var(--body-font);
  color: var(--colo-dark-1);
}

.categorie__item svg{
  margin-right: 1rem;
  color: #7d8184;
}

.categorie:hover{
  background-color: var(--colo-primary);
  transition: all 0.2s var(--transition);
}

/*=============== PRODUCTS ===============*/

/* Active Tab */

/* Product Hover */

/*=============== DEALS ===============*/

/*=============== NEW ARRIVALS ===============*/

/*=============== SHOWCASE ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== BREADCRUMBS ===============*/

/*=============== SHOP ===============*/

/*=============== DETAILS ===============*/

/*=============== DETAILS INFO & REVIEWS ===============*/

/*=============== CART ===============*/

/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== COMPARE ===============*/

/*=============== LOGIN & REGISTER ===============*/

/*=============== ACCOUNTS ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
